RESEND_API_KEY=
RESEND_FROM_EMAIL=Portfolio Access <onboarding@resend.dev>

SECRET_KEY=
OTP_HASH_SALT=
ADMIN_ACCESS_TOKEN=

RECAPTCHA_V2_SECRET_KEY=
RECAPTCHA_V3_SECRET_KEY=
RECAPTCHA_REQUIRED=true
RECAPTCHA_V3_MIN_SCORE=0.5

CORS_ORIGIN=https://portfolio-frontend-ufib.vercel.app
DEBUG_AUTH_ERRORS=true
